#articles
  - @posts.each do |post|

    .row
      .col-md-7
        %article
          %h1= link_to post.title, post
          %p
            = post.content.to_plain_text.truncate(250)
            = surround('[ ', ' ]') do
              = link_to "Continue reading", post

          %p.date
            = post.date
