%article
  .row
    .col-md-7
      %h1= link_to post.title, post

      %p= post.content.to_plain_text.truncate(400)
      %p.read-more= link_to "Continue reading", post

      %p.date= post.date

    .col-md-1
    .col-md-4
      - if post.image.attached? && post.image.representable?
        = image_tag post.image.variant(:size_320), class: 'img-fluid'
