#post
  %article
    .row
      .col-md-12
        %h1= @post.title

    .row
      .col-md-8
        .author= @post.author
        %p= @post.content


        %br
        %p.date.small= @post.date.strftime("%B %d, %Y")

      .col-md-4
        - if @post.image.representable?
          = image_tag @post.image.variant(resize_to_limit: [500, nil]), class: 'img-fluid'


.row
  .col-md-5
    %p= link_to "All Posts", root_path
