#post
  %article
    .row
      .col-md-12
        %h1= @post.title

    .row
      .col-md-7

        %p= @post.content


        %br
        %p.author= @post.author
        .date.small= @post.date.strftime("%B %d, %Y")
        - if signed_in?
          %p= link_to "Edit", edit_post_path(@post)

      .col-md-1
      .col-md-4
        - if @post.image.attached? && @post.image.representable?
          .text-center
            = image_tag @post.image.representation(resize_to_limit: [500, nil]), class: 'img-fluid'

        %br
        .text-center
          = link_to "Subscribe", new_subscriber_path, class: 'subscribe-link'


.row.d-print-none
  .col-md-5
    %p= link_to "All Posts", root_path
