#post
  %article
    .row
      .col-md-12
        %h1= @post.title

    .row
      .col-md-8

        %p= @post.content


        %br
        %p.author= @post.author
        .date.small= @post.date.strftime("%B %d, %Y")

      .col-md-4
        - if @post.image.representable?
          = image_tag @post.image.variant(:size_500), class: 'img-fluid'

.row.d-print-none
  .col-md-5
    %p= link_to "All Posts", root_path
